body {
    font-family: Arial, sans-serif;
    background-color: #bdfaa5;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #dff98b;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 10% auto;
    max-width: 500px;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

label {
    font-size: 18px;
    display: block;
    margin-top: 20px;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #f7ca27;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #f1a81f;
}

#result {
    font-size: 20px;
    margin-top: 20px;
}
